# # Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

# # Folders To Not Push
# dist
# dist-ssr
# __pycache__
# Notebooks For Experiments
# bart_decomposer_model
# Database
# disitil_bert_for_noise_filtering
*.local
node_modules
config.env
.venv
local_LLM
__pycache__
*.pdf
*.db
files
vector_database
Database
Notebooks For Experiments
.ipynb_checkpoints
main
public
.vscode/*
helper_llms

# # Editor directories and files
# !.vscode/extensions.json
# .idea
# .DS_Store
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?
todo